<!DOCTYPE html>
<html ng-app="martaApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARTA Scheduler</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">
  </head>
  <body>
    <div class="navBar">
      <!-- <a href=''><h2>[]</h2></a> -->
      <a href="/">
        <div class="logo">
          <h1>M</h1>
        </div>
      </a>

      <h1 class="center" id="marta">MARTA scheduler</h1>
    </div>

    <!-- <h3>Login Form</h3> -->
    <div class="login">
      <form method='POST' action='/login' autocomplete="off"/>
        <!-- <label for='emailOrUsername'>Email or Username:</label> -->
        <input type='text' autofocus="autofocus" placeholder='Email or Username' name='emailOrUsername'><br>
        <!-- <label for='password'>Password:</label> -->
        <input type='password' placeholder='Password' name='password'><br>
        <button type='submit'>Login</button>
      </form>
    </div>

 </body>
</html>
